@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: #1c1c1c;
}

.sidebar{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
  
.logo{
    background-image: url('Logo Moment Studio.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 130px;
    margin-bottom: 130px;
    width: 240px;
    height: 200px;
}

.sidebar a {
    font-family: 'Antic Didone';
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
    color: white;
    display: block;
}

.sidebar a:hover {
    font-weight: bold;
}
  
.menu{
    border-color: #1c1c1c;
    background-color: #484848;
    min-width: 250px;
    bottom: 3px;
    padding-top: 4px;
}

.currentmenu{
    border-color: #1c1c1c;
    background-color: #1c1c1c;
    min-width: 250px;
    bottom: 3px;
    padding-top: 4px;
}

.icotify{
    background: url('https://api.iconify.design/el/css.svg') no-repeat center center / contain;
    content: url('https://api.iconify.design/el/css.svg');
}

.calendar{
    background: url('https://api.iconify.design/uil/calendar-alt.svg?color=white&width=29&height=29') no-repeat center center / contain;
    content: url('https://api.iconify.design/uil/calendar-alt.svg?color=white&width=29&height=29');
}

.profil{
    background: url('https://api.iconify.design/bx/bxs-user.svg?color=white&width=29&height=29') no-repeat center center / contain;
    content: url('https://api.iconify.design/bx/bxs-user.svg?color=white&width=29&height=29');
}

.absensi{
    background: url('https://api.iconify.design/ci/edit.svg?color=white&width=29&height=29') no-repeat center center / contain;
    content: url('https://api.iconify.design/ci/edit.svg?color=white&width=29&height=29');
}

.laporan{
    background: url('https://api.iconify.design/clarity/clipboard-line.svg?color=white&width=29&height=29') no-repeat center center / contain;
    content: url('https://api.iconify.design/clarity/clipboard-line.svg?color=white&width=29&height=29');
}

.exit{
    background: url('https://api.iconify.design/icomoon-free/exit.svg?color=white&width=29&height=29') no-repeat center center / contain;
    content: url('https://api.iconify.design/icomoon-free/exit.svg?color=white&width=29&height=29');
}

.main {
    color: white;
    margin-left: 225px;
    padding: 0px 70px;
}

.biodata-left{
    margin-top: 80px;
    margin-left: 40px;
    font-family: 'Antic Didone';
    font-size: 30px;
}

.biodata-right{
    margin-top: 80px;
    margin-right: 230px;
    margin-left: 120px;
    font-family: 'Antic Didone';
    font-size: 30px;
}

.form-absensi{
    font-family: 'Antic Didone';
    font-size: 30px;
    margin-left: 40px;
}

.masuk{
    font-family: 'Antic Didone';
    font-size: 30px;
    margin-left: 100px;
    width:270px;
    height:46px;;
    border: none;
    background-color:white;
    border-radius: 40px;
    cursor: pointer;
}

.masuk:focus{
    color: white;
    background-color:black;
}

.keluar{
    font-family: 'Antic Didone';
    font-size: 30px;
    margin-left: 70px;
    width:270px;
    height:46px;;
    border: none;
    background-color:white;
    border-radius: 40px;
    cursor: pointer;
}

.keluar:focus{
    color: white;
    background-color:black;
}

.lokasi{
    font-family: 'Antic Didone';
    width:610px;
    height:61px;
    margin-left: 100px;
    background:transparent;
    font-size:32px;
    color:white;
}

input[type=text] {
    background: transparent;
    border: none;
    font-size: 25px;
    padding-left: 10px;
    border-bottom: 1px solid white;
    outline: none;
}

.unggah{
    margin-left: 100px;
}

input[type=file] {
    color: white;
    font-size: 20px;

}

textarea{
    padding-top: 10px;
    padding-left: 10px;
    resize: vertical;
}

.catatan{
    font-family: 'Antic Didone';
    width: 1045px;
    height: 175px;
    margin-left: 20px;
    border-radius: 15px;
    font-size: 20px;
    color: black;
}

.simpan{
    font-family: 'Antic Didone';
    margin-left: 875px;
    width:200px;
    height:45px;
    left:490px;
    top:835px;
    border: none;
    background-color:white;
    border-radius: 40px;
    font-size:30px;
    cursor: pointer;
}

.simpan:active{
    background-color: white;
    box-shadow: 0 2px black;
    transform: translateY(4px);
}

textarea:focus{
    border: none;
    outline: none;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}