@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: #1c1c1c;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
  
.logo{
    background-image: url('Logo Moment Studio.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 130px;
    margin-bottom: 130px;
    width: 240px;
    height: 200px;
}

.sidebar a {
    font-family: 'Antic Didone';
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    text-align: left;
    font-size: 25px;
    color: white;
    display: block;
}

.sidebar a:hover {
    font-weight: bold;
}
  
.menu{
    border-color: #1c1c1c;
    background-color: #484848;
    min-width: 250px;
    bottom: 3px;
    padding-top: 4px;
}

.currentmenu{
    border-color: #1c1c1c;
    background-color: #1c1c1c;
    min-width: 250px;
    bottom: 3px;
    padding-top: 4px;
}

.icotify{
    background: url('https://api.iconify.design/el/css.svg') no-repeat center center / contain;
    content: url('https://api.iconify.design/el/css.svg');
}

.calendar{
    background: url('https://api.iconify.design/uil/calendar-alt.svg?color=white&width=29&height=29') no-repeat center center / contain;
    content: url('https://api.iconify.design/uil/calendar-alt.svg?color=white&width=29&height=29');
}


.main {
    color: white;
    margin-left: 250px;
    padding: 0px 10px;
}
  
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}