@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-image : url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}

.container{ 
    width: 1080px;
    height: 1024px;
    margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.logo{
    position:absolute;
    left:450px; 
    top:73px;
    width: 608px;
    height: 497px;
}

input[type=text], input[type=password] {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
}

.username:focus, .password:focus, .submit:focus{
    outline: none;
}


.username{
    font-family: 'Antic Didone';
    position:absolute;
    top:600px;
    left:500px;
    width:500px;
    height:61px;
    background:transparent;
    font-size:32px;
    color:white;
}

.password{
    font-family: 'Antic Didone';
    position:absolute;
    top:685px;
    left:500px;
    width:500px;
    height:61px;
    background:transparent;
    font-size:32px;
    color:white;
}

input::-ms-reveal, input::-ms-clear {
  display: none;
}

.checkbox{
    color:#ffffff;
    font-size:20px;
    position:absolute;
    left:499px;
    top:780px;
    cursor:pointer;
}

.checkbox-label{
    font-family: 'Antic Didone';
    color:#ffffff;
    font-size:22px;
    position:absolute;
    left:525px;
    top:775px;
    background:transparent;
}

.submit{
    font-family: 'Antic Didone';
    position:absolute;
    width:530px;
    height:60px;
    left:490px;
    top:835px;
    border: none;
    background-color:white;
    border-radius: 40px;
    font-size:36px;
    cursor: pointer;
}

.submit:hover{
    color: white;
    background-color:black;
    cursor: pointer;
}
